body {
    background-color: white;
}
p {
    color: red; font-size:30px;
}
div.f {

    width: 36em;
}
div.a {
    font-size: 75%;
    text-indent: 20px;
}

div.b {
    text-indent: 27px;
}

div.c {
    text-indent: 50px;
}

div.d {
    text-indent: 10px;
}

div.e {
    color: red;
    font-size: 125%;
    text-indent: 0px;
}
div.g {
    padding-left: 10px;
    width: 36em;
}
div.h {
    width: 200px;
    border: 10px solid green;
    column-count: 1;
    margin-top: 0px;
} 

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 5px;
  background-color: #4CAF50;
  padding: 5px;
}
.item1 {
  background-color: yellow;
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
}
.item2 {
  background-color: white;
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
}
.edit1 {
  background-color: yellow;
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
}
.edit2 {
  background-color: yellow;
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
  grid-column: 3 / span 3;
}